absl-py
aiohttp
async-timeout
attrs
blis
cachetools
catalogue
certifi
chardet
charset-normalizer
click
colorama
cymem
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
filelock
Flask
Flask-Cors
fsspec
future
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
itsdangerous
Jinja2
joblib
Markdown
MarkupSafe
multidict
murmurhash
nltk
numpy
oauthlib
packaging
pandas
pathy
pickle-mixin
preshed
protobuf
pyasn1
pyasn1-modules
pydantic
pyparsing
python-dateutil
pytorch-lightning
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
scikit-learn
scipy
sense2vec
six
smart-open
# spacy
spacy-legacy
srsly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thinc
threadpoolctl
tokenizers
toolz
torch
torchmetrics
tqdm
transformers
typer
typing-extensions
urllib3
wasabi
Werkzeug
yarl
zipp
